.left-navigation {
  background: url(../img/nave-bg.png) no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 99;
  width: 409px;
  height: 300px;
  -moz-animation-name: leftnav;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: 1.5s;
  -webkit-animation-name: leftnav;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 1s;
  animation-name: leftnav;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}
.navline {
  width: 442px;
  height: 300px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 9;
  background: url(../img/nav-line.png) no-repeat;
}

.z-index-leftside-text {
  z-index: 10;
}
.left-side-menu-remove-flex .navbar {
  display: block;
}

.left-side-menu-list ul li {
  padding: 15px 0px;
}
.left-side-border-bot {
  border-bottom: 1px solid #b8b8b8;
  padding-left: 70px;
  padding-bottom: 15px;
}
.width-sidemenu-list {
  width: 80%;
}

.cat-box-top {
  position: relative;
  background-color: #cbcbcb;
  background-image: url(../img/product-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 1px #ccc;
  height: 366px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.cat-box-top:hover {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../img/product-bg.png");
}
.cat-details {
  height: 226px;
  padding-top: 100px;
  padding-bottom: 25px;
  text-align: center;
}
.shopnow-border {
  border: 1px solid #000;
}
.cat-shop-now {
  background: url(../img/button-bg-orange.png) no-repeat;
  // display: inline-block;
  margin: auto;
  width: 137px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  box-shadow: 1px 1px 1px #fff;
  // opacity: 0;
  // visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: none;
}
.cat-image {
  height: 136px;
  padding-bottom: 20px;
  text-align: center;
}
.cat-box-top:hover .cat-shop-now {
  display: block;
  // padding-bottom: 20px;
  // height: 34px;
  padding-bottom: 5%;
}
.cat-box-top:hover .cat-details {
  // height: 180px;
  padding-top: 60px;
  padding-bottom: 0;
  text-align: center;
  animation-fill-mode: both;
  -webkit-animation: moving 5s infinite;
  animation: moving 5s infinite;
}

@-webkit-keyframes moving {
  from {
    -webkit-transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(200px);
  }
}

/* --------------------------dropdown left menu ------------------------------- */
.dropdown-leftside {
  margin: 0;
  padding: 0;
  list-style: none;
  // width: 100px;
  // background-color: #0abf53;
}

.dropdown-leftside li {
  position: relative;
}

.dropdown-leftside li a {
  color: #000;
  text-align: right;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.dropdown-leftside li ul {
  position: absolute;
  top: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  line-height: normal;
  // background-color: #333;
  transform: translate3d(280px, -21px, 0px);
  // background-color: #F0F0F0;
  // background-color: #F5F5F5;
  background-color: #f8f8f8;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  border-radius: 4px;
  border: 1px solid #c0c0c0;
  min-width: 55%;
}

.dropdown-leftside li ul li a {
  text-align: left;
  color: #000;
  font-size: 14px;
  padding: 8px 16px;
  display: block;
  white-space: nowrap;
  // border-bottom: 1px solid #D3D3EC
  border-bottom: 1px solid #e8e8e8;
}

.dropdown-leftside li ul li a:hover {
  color: #0abf53;
  font-weight: 500;
}
.dropdown-leftside li ul li a:hover .moveright {
  transform: translateX(6px);
  // transition: transform 800ms;
  transition: transform 200ms;
}

.dropdown-leftside li ul li ul {
  left: 100%;
  top: 0;
  transform: translate3d(0px, 0px, 0px);
  min-width: 97%;
}

.left-side-menu-drop-list ul li:hover > ul {
  display: block;
}
.left-side-menu-drop-list ul li {
  padding: 0;
}
