{% extends 'base.html' %}
{% block content %}
{%load static%}


<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3><strong>VISION</strong></h3>
				<p>Create a society with increased awareness on healthy, unprocessed food, promote natural, regional
					commodities produced traditionally, and achieve a healthy life of the society.</p> <br />
				<h3><strong>MISSION</strong></h3>
				<ul>
					<li>Create awareness among the public about the importance of regional food habits for healthy
						living.</li>
					<li>Provide easy access to natural, organic, unprocessed food products through online booking and
						doorstep delivery.</li>
					<li>Promote healthy unprocessed chemical free food in place of chemically refined and adulterated
						food</li>
					<li>Promote healthy complex carb-based millets in place of simple carb-based grains.</li>
				</ul>
				<h3><strong>ABOUT AYURHEALTH</strong></h3>
				<ul>
					<li>Most of the edible products available in the market would have undergone processing at single or
						multiple stages, not considering the refining and chemical additives.</li>
					<li>Such food may not have immediate direct effect on one’s health, but the chemicals retained
						during such processes even if below the permissible limit as per FSSAI norms, get accumulated
						over a period of time in our body, can pose various health threats including many chronic health
						situations metabolic syndromes like Diabetes, Hyper tension, Thyroid Disorders, even Cancer.
					</li>
					<li>AYURHEALTH make it easier to find CHEMICAL FREE UNPROCESSED NATURAL FOOD for healthy living.
					</li>
				</ul>
				<h3><strong>OUR QUALITY POLICY</strong></h3>
				<ul>
					<li>Ayurhealth quality policy is to provide competitive products &amp; services of the highest
						standards of performance and reliability.</li>
					<li>Ayurhealth recognizes that a successful food safety culture can be achieved only by following
						safe working practices and procedures developed through effective training and experience.</li>
					<li>Achievement of this policy involves all staff being individually responsible for the quality of
						their work, resulting in a continual improvement culture and working environment for all.</li>
					<li>This policy is thoroughly communicated throughout the organization and a copy is provided and
						explained to each employee by the ayurhealth</li>
					<li>The quality policy will be subject to continuous review and revision particularly when changes
						to legislation or technical knowledge occur.</li>
				</ul>
				<h3><strong>WHY NATURAL, UNPROCESSED FOOD?</strong></h3>
				<ul>
					<li>To improve overall well-being, let’s first understand the concept of “wholefoods” versus
						“fragmented” or processed foods.</li>
					<li>Processed foods have been stripped of one or more of their original elements, i.e. they are
						missing valuable nutrients, fibres or water.</li>
					<li>Natural foods, or whole foods (whole grains, seeds, nuts, beans and legumes) have been provided
						for us by nature. They are the perfect foods for our body for healthy living.</li>
					<li>Whilst we can certainly exist on processed foods, we cannot survive on these foods alone.</li>
					<li>Man-made/factory-made processed foods, which have been highly sugared, salted and processed, are
						devoid of so many of the nutrients and life-giving nutrients for optimal health.</li>
					<li>Consumption of highly processed foods and white flour-based products having a high glycemic
						index and glycemic load, leads to accumulation of body fat and weight gain, and causes many
						chronic diseases.</li>
					<li>Doesn’t it make sense to move toward nature and simply eat natural foods</li>
				</ul>
			</div>
		</div>
	</div>

</div>


{% endblock %}