{% extends 'base.html' %}
{% block content %}
{%load static%}


<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>From where does cooking oil comes to your kitchen?</h3>
				<p>Edible oils are indispensable in the Indian kitchen. But it might be surprising to many that India
					imports most of the oil it consumes, unlike most other agricultural products which are produced
					locally.
					Even after having a diverse agro-climatic conditions, abundant land and large sections of population
					depending on agriculture, why does India have to import edible oils? What is the burden of importing
					edible oils on the government’s exchequer? What can we do to boost the domestic production of edible
					oils?
				</p>
				<h3>Balance sheet</h3>
				<p>According to the latest data, each Indian consume 22.5 kg of edible oil every year on an average
					during 2019-20, up from 15.8 kg in 2012-13. This amounts to an aggregate demand of around 40 million
					tons of edible oils per year.
					Leaving aside the debate on the health effects of increase in oil consumption and its role on
					prevalence of lifestyle diseases, let us examine the demand-supply position of edible oils in India.
					India cultivated oilseeds on 25 million hectares of land, producing 32 million tons of oilseeds in
					2018-19, with soybean, rapeseed and mustard and groundnut accounting for almost 90 per cent share in
					the area.
					Assuming a country-wide average of 28 per cent oil recovery, 32 million tons of oilseeds will yield
					around 8.4 million tons of edible oil. The domestic production can only meet a little over 25 per
					cent of the total demand for edible oils, necessitating its import.
					In 2019, India imported around 15 million tons of edible oils worth approximately Rs 7,300 crore,
					which accounted for 40 per cent of the agricultural imports bill and three per cent of the overall
					import bill of the country.
					Palm oil accounted for the lion’s share of the total imports (62 per cent), followed by soya oil and
					sunflower oil (21 per cent and 16 per cent, respectively). There is a considerable increase in the
					share of soya oil and sunflower oil in the import basket.
					The palm oil is primarily sourced from Indonesia and Malaysia, soya oil from Argentina and Brazil,
					whereas Ukrain and Argentina are the major suppliers of sunflower oils to India.
				</p>
				<div class="container">
					<center><img src="{%static 'assets/img/about.png'%}" alt="graph"></center>
				</div>
				<h3>LET US VOCAL FOR LOCAL</h3>
				<p>India has the potential to increase the domestic production of oilseeds which could reduce the import
					dependence and also benefit the farmers. The government of India is also taking many measures to
					increase the domestic production of edible oil seeds.
					For instance, Technology Mission on Oilseeds and other policy initiatives have helped India increase
					the area under oilseeds in India from 9 million tons in 1986 to 32 million tons in 2018-19, though
					not sufficient to meet the domestic demand.
				</p>
				<h3>Increasing production</h3>
				<p>Based on a rough estimate, 3.6 million tons of additional oils can be produced by means of bridging
					the yield gap, assuming 1.5 tons per ha as a realizable yield. This requires the wide scale adoption
					of improved agricultural technologies like quality seeds, and better management.</p>
			</div>
		</div>
	</div>

</div>


{% endblock %}