<!DOCTYPE html>
<html lang="en">


<head>


	<title>AYURHEALTH</title>
	<!-- CSS -->
	{% include 'includes/css.html' %}



</head>

<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		{% include 'includes/nav.html' %}


		<!-- Body -->
		{% block content %}

		{% endblock %}

		<!-- Footer -->
		{% include 'includes/footer.html' %}

	</div>
	<!-- JS -->
	{% include 'includes/js.html' %}
	<script>
		$(document).ready(function () {
			$('.my-zoom-1').WMZoom();
			$('.my-zoom-2').WMZoom({
				config: {
					inner: true
				}
			});
		});
	</script>

</body>


</html>