{% extends 'base.html' %}
{% block content %}
{%load static%}

<style>
    p,
    .kes {
        font-family: "Poppins", sans-serif;
        font-size: 0.9375rem;
        line-height: 50px;
    }
</style>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content" style="margin-top: 6%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <center>
                    <div style="justify-content: center;">
                        <iframe width="711" height="400" src="https://www.youtube.com/embed/QfsBh-c5zwk"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen style="width: 100%;"></iframe>
                    </div>
                </center>
                <div class="container " style="justify-content: center;">

                    <h2>Important tips for healthy living:</h2>

                    <ol>
                        <p>1.<span><a
                                    href="https://www.youtube.com/watch?v=53TSUZ_QH4M">https://www.youtube.com/watch?v=53TSUZ_QH4M</a></span>
                        </p>
                        <p>2.<span><a
                                    href="https://www.youtube.com/watch?v=53TSUZ_QH4M">https://www.youtube.com/watch?v=53TSUZ_QH4M</a></span>
                        </p>
                        <p>3.<span><a
                                    href="https://www.youtube.com/watch?v=53TSUZ_QH4M">https://www.youtube.com/watch?v=53TSUZ_QH4M</a></span>
                        </p>
                    </ol>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}