{% extends 'base.html' %}
{% block content %}
<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Missions</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Missions</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->

			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div class="container">
                                <h3><center><strong>MISSIONS</strong></center></h3>
                                <ol style="font-size: 18px;">
                                    <li>Create awareness among the public about the importance of regional food habits for healthy leaving. </li>
                                    <li>Provide easy access to natural,organic unprocessed food products through online booking and doorstep delivery.</li>
                                    <li>Promote healthy cold pressed edible oils in place of chemically refined and adulterated vegetable oils.</li>
                                    <li>Promote healthy complex crab based millets in place of simple crab based grains.</li>
                                </ol>
                            </div>
						</div>
					</div>
				</div>

			</div>
{% endblock %}