{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="breadcrumb-bar">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-md-12 col-12">
				<nav aria-label="breadcrumb" class="page-breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Checkout</li>
					</ol>
				</nav>
				<h2 class="breadcrumb-title">Checkout</h2>
			</div>
		</div>
	</div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
	<div class="container">

		<div class="row">
			<div class="col-md-6 col-lg-7">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Billing details</h3>
					</div>
					<div class="card-body">

						<!-- Checkout Form -->
						<form action="{% url 'place_order' %}" method="POST">
							{% csrf_token%}

							<!-- Personal Information -->
							<div class="info-widget">
								<h4 class="card-title">Personal Information</h4>
								<div class="row">
									<div class="col-md-6 col-sm-12">
										<div class="form-group card-label">
											<label>First Name</label>
											<input class="form-control" type="text" required name="fname">
										</div>
									</div>
									<div class="col-md-6 col-sm-12">
										<div class="form-group card-label">
											<label>Last Name</label>
											<input class="form-control" type="text" name="lname">
										</div>
									</div>
									<div class="col-md-6 col-sm-12">
										<div class="form-group card-label">
											<label>Email</label>
											<input class="form-control" type="email" required name="email">
										</div>
									</div>
									<div class="col-md-6 col-sm-12">
										<div class="form-group card-label">
											<label>Phone</label>
											<input class="form-control" type="text" required name="phone">
										</div>
									</div>
								</div>

							</div>
							<!-- /Personal Information -->

							<!-- Shipping Details -->
							<div class="info-widget">
								<h4 class="card-title">Shipping Details</h4>
								<div class="info-widget">
									<div class="row">
										<div class="col-md-6 col-sm-12">
											<div class="form-group card-label">
												<label>Address Line-1</label>
												<input class="form-control" type="text" required name="ad1">
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<div class="form-group card-label">
												<label>Address Line-2</label>
												<input class="form-control" type="text" name="ad2">
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<div class="form-group card-label">
												<label>Country</label>
												<input class="form-control" type="text" name="country">
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<div class="form-group card-label">
												<label>State</label>
												<input class="form-control" type="text" name="state">
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<div class="form-group card-label">
												<label>City</label>
												<input class="form-control" type="text" name="city">
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<div class="form-group card-label">
												<label>Pincode</label>
												<input class="form-control" type="number" required name="pincode">
											</div>
										</div>
									</div>

								</div>
								<div class="form-group card-label">
									<label class="pl-0 ml-0 mb-2">Order notes (Optional)</label>
									<textarea rows="5" class="form-control" name="shipping"></textarea>
								</div>
							</div>
							<!-- /Shipping Details -->

							<div class="payment-widget">
								<!-- Submit Section -->
								<div class="submit-section mt-4">
									<button type="submit" class="btn btn-primary submit-btn">Proced to Pay</button>
								</div>
								<!-- /Submit Section -->

							</div>
						</form>
						<!-- /Checkout Form -->

					</div>
				</div>

			</div>

			<div class="col-md-6 col-lg-5 theiaStickySidebar">

				<!-- Booking Summary -->
				<div class="card booking-card">
					<div class="card-header">
						<h3 class="card-title">Your Order</h3>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-center mb-0">
								<tr>
									<th>Product</th>
									<th>Quantity</th>
									<th class="text-right">Total</th>
								</tr>
								<tbody>
									{% for cart_item in cart_items %}
									<tr>
										<td>{{ cart_item.product.product_name }}</td>
										<td>{{ cart_item.quantity}}x{{cart_item.product.price}}₹</td>
										<td class="text-right">{{ cart_item.sub_totel }}₹</td>
									</tr>
									{% endfor %}

								</tbody>
							</table>
						</div>
						<div class="booking-summary pt-5">
							<div class="booking-item-wrap">
								<ul class="booking-date">
									<li>Subtotal <span>{{ total }}₹</span></li>
									<li>Shipping <span>{{ shipping_cost }}₹</span></li>
								</ul>
								<ul class="booking-fee">
									<li>Tax <span>{{ tax }}₹</span></li>
								</ul>
								<div class="booking-total">
									<ul class="booking-total-list">
										<li>
											<span>Total</span>
											<span class="total-cost">{{ grand_total }}₹</span>
										</li>
										<li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Booking Summary -->

			</div>
		</div>

	</div>

</div>
{% endblock %}